<mat-tab-group *ngIf="presentStarInfo" mat-align-tabs="center">
    <mat-tab *ngFor="let starInfo of presentStarInfo" label="{{starInfo.starName}}">

        <!-- <div *ngIf="starInfo.thumbnail && starInfo.thumbnail.length > 0" class="tab-content">
            <img src="{{starInfo.thumbnail}}" width=480px class="thumbnail">
        </div> -->

        <div *ngIf="starInfo.polityStarData && starInfo.polityStarData.length > 0" class="title">
            Territories In {{starInfo.starName}} System
        </div>

        <div *ngFor="let polityStarDatum of starInfo.polityStarData" class="tab-content">

            <div class="holding">
                <div class="non-link left" >{{polityStarDatum.polityName}}</div>
                <mat-chip-list class="right" *ngIf="polityStarDatum.polityBlocName.length > 0">
                    <mat-chip [style.background-color]="getBlocColour(polityStarDatum.polityBlocName)">
                        {{polityStarDatum.polityBlocName}}
                    </mat-chip>
                </mat-chip-list>
            </div>

            <table class="data-table">
                <tr>
                    <th>Territories</th>
                    <th>Entanglements</th>
                    <th>Quagmires</th>
                </tr>
                <tr>
                    <td>{{polityStarDatum.territoryCount}}</td>
                    <td>{{polityStarDatum.entanglementCount}}</td>
                    <td>{{polityStarDatum.quagmireCount}}</td>
                </tr>
            </table>

            <!-- <div *ngIf="territory.thumbnail && territory.thumbnail.length > 0">
                <img src="{{territory.thumbnail}}" width="480px" class="thumbnail">
            </div> -->

            <!-- <div>
                {{shortened(territory.description, 200)}}
            </div> -->

            <div style="padding-left: 10px;">
                <mat-chip-list>
                    <mat-chip color="primary" (click)="openPolity(polityStarDatum.polityKey)" class="link-chip">
                        Go to owner →
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>

    </mat-tab>

</mat-tab-group>