<mat-tab-group *ngIf="starInfo" mat-align-tabs="center">
    <mat-tab label="{{starInfo.name}}">

        <!-- <div *ngIf="starInfo.thumbnail && starInfo.thumbnail.length > 0" class="tab-content">
            <img src="{{starInfo.thumbnail}}" width=480px class="thumbnail">
        </div> -->

        <div *ngIf="filteredTerritories && filteredTerritories.length > 0" class="title">
            Territories In {{starInfo.name}}
        </div>

        <div *ngFor="let polityStarDatum of polityStarData" class="tab-content">

            <div class="holding">
                <div class="non-link left" >{{polityStarDatum.polityName}}</div>
                <mat-chip-list class="right">
                    <mat-chip color="primary" class="link-chip">
                        {{polityStarDatum.polityBlocName}}
                    </mat-chip>
                </mat-chip-list>
            </div>

            <table>
                <tr>
                    <th>Territories</th>
                    <th>Entanglements</th>
                    <th>Quagmires</th>
                </tr>
                <tr>
                    <td>{{polityStarDatum.territoryCount}}</td>
                    <td>{{polityStarDatum.entanglementCount}}</td>
                    <td>{{polityStarDatum.quagmireCount}}</td>
                </tr>
            </table>

            <!-- <div *ngIf="territory.thumbnail && territory.thumbnail.length > 0">
                <img src="{{territory.thumbnail}}" width="480px" class="thumbnail">
            </div> -->

            <!-- <div>
                {{shortened(territory.description, 200)}}
            </div> -->

            <div>
                <mat-chip-list>
                    <mat-chip color="primary" (click)="openPolity(polityStarDatum.polityKey)" class="link-chip">
                        Go to owner →
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>

    </mat-tab>

</mat-tab-group>