<mat-tab-group *ngIf="presentStarInfo" mat-align-tabs="center">
    <mat-tab *ngFor="let starInfo of presentStarInfo" label="{{starInfo.starName}}">

        <div *ngIf="starInfo.planetMap && starInfo.planetMap.length > 0" class="tab-content image-holder" (click)="openSubMap(starInfo.planetMap, starInfo.starName)">
            <img src="{{starInfo.planetMap}}" width=480px class="thumbnail">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Magnifying_glass_icon.svg/490px-Magnifying_glass_icon.svg.png" width="50px" class="image-item">
        </div>

        <div *ngIf="starInfo.polityStarData && starInfo.polityStarData.length > 0" class="title">
            Territories In {{starInfo.starName}} System
        </div>

        <div *ngFor="let polityStarDatum of starInfo.polityStarData" class="tab-content">

            <div class="holding">
                <div class="non-link left" >{{polityStarDatum.polityName}}</div>
                <mat-chip-list class="right" *ngIf="polityStarDatum.polityBlocName.length > 0">
                    <mat-chip [style.background-color]="getBlocColour(polityStarDatum.polityBlocName)">
                        {{polityStarDatum.polityBlocName}}
                    </mat-chip>
                </mat-chip-list>
            </div>

            <table class="data-table">
                <tr>
                    <th>Territories</th>
                    <th>Entanglements</th>
                    <th>Quagmires</th>
                </tr>
                <tr>
                    <td>{{polityStarDatum.territoryCount}}</td>
                    <td>{{polityStarDatum.entanglementCount}}</td>
                    <td>{{polityStarDatum.quagmireCount}}</td>
                </tr>
            </table>

            <!-- <div *ngIf="territory.thumbnail && territory.thumbnail.length > 0">
                <img src="{{territory.thumbnail}}" width="480px" class="thumbnail">
            </div> -->

            <!-- <div>
                {{shortened(territory.description, 200)}}
            </div> -->

            <div style="padding-left: 10px;">
                <mat-chip-list>
                    <mat-chip color="primary" (click)="openPolity(polityStarDatum.polityKey)" class="link-chip">
                        Go to owner →
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>

        <div *ngIf="starInfo.npcStarData && starInfo.npcStarData.length > 0" class="title">
            NPCs In {{starInfo.starName}} System
        </div>

        <div *ngFor="let npcStarDatum of starInfo.npcStarData" class="tab-content">

            <div class="holding">
                <div class="non-link left" >{{npcStarDatum.npcName}}</div>
                <mat-chip-list class="right" *ngIf="npcStarDatum.npcBlocName.length > 0">
                    <mat-chip [style.background-color]="getBlocColour(npcStarDatum.npcBlocName)">
                        {{npcStarDatum.npcBlocName}}
                    </mat-chip>
                </mat-chip-list>
            </div>

            <!-- <div *ngIf="territory.thumbnail && territory.thumbnail.length > 0">
                <img src="{{territory.thumbnail}}" width="480px" class="thumbnail">
            </div> -->

            <div>
                <b>{{npcStarDatum.location}}</b> - {{npcStarDatum.notes}}
            </div>

            <div style="padding-left: 10px;">
                <mat-chip-list>
                    <mat-chip *ngFor="let player of npcStarDatum.players" color="primary" (click)="openPolityByPlayer(player)" class="link-chip">
                        {{player}}
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>

    </mat-tab>

</mat-tab-group>