<div class="pad-top"></div>

<app-title [parent]="this" #titleChild class="title"></app-title>

<button *ngIf="mapUrls.length > 1" class="fab" mat-fab color="primary" (click)="nextMapMode()">
  <mat-icon>donut_small</mat-icon>
</button>

<mat-drawer-container class="example-container" autosize (click)="registerLocation($event)">

  <mat-drawer #drawer class="sidenav-fixed" mode="side" position="end">
    <app-place-info
      *ngIf = "drawerMode == 2"
      [info]="activePlace"
      [parent]="this">
    </app-place-info>
    <app-pin-info
      *ngIf = "drawerMode == 1"
      [info]="activePin"
      [parent]="this">
    </app-pin-info>
  </mat-drawer>

  <pan-zoom [config]="panZoomConfig">
    <div style="position: relative;">
      <img src="{{mapUrls[mapIndex]}}" width="{{mapWidth}}" height="{{mapHeight}}" usemap="#starmap">    
      <map name="starmap">
        <area *ngFor="let place of places" shape="rect" coords="{{place.xStart}}, {{place.yStart}}, {{place.xEnd}}, {{place.yEnd}}" alt="{{place.name}}" (click)="openDrawerToPlace(place.key)">
        <area shape="rect" coords="0,0,{{mapWidth}},{{mapHeight}}" (click)="closeDrawer()">
      </map>
      <div
        class="highlight"
        [ngStyle]="highlightDimensionsCss">
      </div>
    </div>    
  </pan-zoom>  
  
</mat-drawer-container>
