<div class="pad-top"></div>

<app-title [parent]="this" #titleChild class="title"></app-title>

<button *ngIf="mapUrls.length > 1" class="fab" mat-fab color="primary" (click)="nextMapMode()">
  <mat-icon>donut_small</mat-icon>
</button>

<mat-drawer-container class="example-container" autosize>

  <mat-drawer #drawer class="sidenav-fixed" mode="side" position="end">
    <app-star-info
      *ngIf = "drawerMode === 1"
      [starInfo]="activeStar"
      [territories]="territories"
      [parent]="this">
    </app-star-info>
    <app-polity-info
      *ngIf = "drawerMode === 2"
      [polityInfo]="activePolity"
      [territories]="territories"
      [parent]="this">
    </app-polity-info>
  </mat-drawer>

  <pan-zoom [hidden]="!hasLoaded" [config]="panZoomConfig">
    <div style="position: relative;">
      <img src="{{mapUrls[mapIndex]}}" width="{{mapWidth}}" height="{{mapHeight}}" usemap="#starmap">    
      <map name="starmap">
        <area *ngFor="let star of stars" shape="rect" coords="{{star.xStart}}, {{star.yStart}}, {{star.xEnd}}, {{star.yEnd}}" alt="{{star.name}}" (click)="openDrawerToStar(star.name)">
        <area shape="rect" coords="0,0,{{mapWidth}},{{mapHeight}}" (click)="closeDrawer()"> 
      </map>
      <div
        class="highlight"
        [ngStyle]="highlightDimensionsCss">
      </div>
    </div>    
  </pan-zoom>
  
</mat-drawer-container>
