<h1 mat-dialog-title cdkDrag
cdkDragRootElement=".cdk-overlay-pane" 
cdkDragHandle><i class="fas fa-map-pin"></i> Add new Map Pin</h1>
<div mat-dialog-content>

  <div>
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input matInput required [(ngModel)]="pin.name">
    </mat-form-field>
  </div>
  
  <div>
    <mat-form-field>
      <mat-label>Details</mat-label>
      <input matInput required [(ngModel)]="pin.description">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Colour</mat-label>
      <mat-select required [(value)]="pin.color">
        <mat-option *ngFor="let color of colors" [value]="color.url">
          {{color.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [disabled]="!isValid" [mat-dialog-close]="pin" cdkFocusInitial>Add</button>
</div>