<div [ngStyle]="hoverImageStyleObject()" (mouseover)="hoverStar()" (mouseleave)="unhoverStar()">
    <img class="hover" src="{{activeStarImageLink()}}">
    <div class="hover textPositioning" [ngStyle]="hoverTextStyleObject()">
        <div class="hoverText">
            <div class="title">
                {{star.title}}
            </div>        
            <div class="info">
                {{star.info}}
            </div>
            <div class="info">
                <div>
                    <a href="{{star.link1Url}}">
                        {{star.link1Name}}
                    </a>
                </div>
                <div>
                    <a href="{{star.link2Url}}">
                        {{star.link2Name}}
                    </a>
                </div>
                <div>
                    <a href="{{star.link3Url}}">
                        {{star.link3Name}}
                    </a>
                </div>
                <div>
                    <a href="{{star.link4Url}}">
                        {{star.link4Name}}
                    </a>
                </div>
                <div>
                    <a href="{{star.link5Url}}">
                        {{star.link5Name}}
                    </a>
                </div>
                <div>
                    <a href="{{star.link6Url}}">
                        {{star.link6Name}}
                    </a>
                </div>
                <div>
                    <a href="{{star.link7Url}}">
                        {{star.link7Name}}
                    </a>
                </div>
                <div>
                    <a href="{{star.link8Url}}">
                        {{star.link8Name}}
                    </a>
                </div>
            </div>
        </div>        
    </div>    
</div>>
